{% extends 'base.html' %}

{% block page_content %}
    <div class="container">
        <div class="row mb-4 mt-4">
            <div class="col"
                <div class="card-deck">
                    <h2> Dashboard</h2>
                    
                    <hr>

                    <div class="mt-5">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Filter by: <small>Country</small></button>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?country=United States">United States</a>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?country=China">China</a>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?country=Australia">Australia</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}">All Countries</a>
                        </div>
                      </div>
                     
                     
                     
                     <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Filter by: <small>Market-Cap</small></button>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?mcap=0-100">0 - 100B</a>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?mcap=100-250">100 - 250B</a>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?mcap=250-500">250 - 500B</a>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?mcap=500-1500">500 - 1500B</a>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}?mcap=1500-3000">1500 - 3000B</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'companydata:summary' %}">Reset</a>
                        </div>
                      </div>
                    </div>
                    
                    {% for chart in charts %}
                    {% if country %}
                     <h4 class="mt-5"> Graph Showing "Country-Wise" Distribution of Top 6000 Companies</h4>

                     {% elif mcap %}
                     <h4 class="mt-5"> Graph Showing "Country-Wise" Distribution of Top 6000 Companies</h4>
                     {% else %}
                            {% if forloop.first %}
                            <h4 class="mt-5"> Graph Showing "Country-Wise" Distribution of Top 6000 Companies</h4>
                            {% else %}
                            <h4 class="mt-5"> Graph Showing "Country-Wise" Distribution of Top 6000 Companies</h4>
                            {% endif %}
                     {% endif %}
                        <div class="card">
                            <div class="card-body">
                                <div class="chart-container" style="height:150; width:150">

                                    {{ chart.html|safe }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_scripts %}
    {% for chart in charts %}
        {{ chart.js|safe }}
    {% endfor %}
{% endblock %}